/* Type */

body{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
}


nav{
    font-size: 12pt;
}

li a{
    text-decoration: none;
    color: white;
}


h1{
    font-size: 25pt;
}

h3{
    font-style: oblique;
    font-size: 15pt;
}


.text{
    font-size: 10pt;
    line-height: 30pt;
}


.double a{
    color: white;
}


.apps{
    text-align: center;
}


.apps ul{
    text-align: center;
}

.apps a{
    text-decoration: none;
    color: white;
   
}


#contactpage{
    font-size: 10pt;
    line-height: 30pt;
}


#contact a{
    color: white;
    font-size: 30pt;
}

.otherdouble{
    color: white;
    text-decoration-color: white;
}


/* format */


.double{
    height: 350px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    
}


.otherdouble{
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
}

.left{
    width: 50%;
    float: left;
    
}

.right{
    width: 50%;
    float: left;

}


#exit{
    padding-top: 2px;
    padding-left: 10px;
    float: left;
    font-size: 20pt;
}

#exit a{
    color: white;
    text-decoration: none;
}


nav{
    padding-top: 10px;
    height: 30px;

}

#list{
    display: grid;
    float: left;
    font-size: 16pt;
    line-height: 75pt;
    padding-left: 10%;
    padding-top: 12%;
}

ul{
    margin: auto;
    padding: 0;
    list-style-type: none;
}


li{
    display: inline-block;
    margin-right: 20px;
}



.text{
    margin: auto;
    width: 70%;
}



.doublefine{
    margin: auto;
    height: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}



/* Fine Arts -- */


.doublefine{
        
        padding-top: 50px;
        display: block;
    }
    
    .leftfinetop{
        width: 100%;
    }
    
    .leftbottomfine{
        margin: auto;
        width: 75%;
        padding-top: 25px;
        
    }
    
    .leftfine{
        width:  50%;
        float: left;
        padding-top: 20px;
    }
    
    .rightfine{
        width: 50%;
    }
    
    .righttopfine{
        width: 100%;
    }
    
    .rightbottomfine{
        margin: auto;
        width: 75%;
        padding-top: 25px;
        
    }
    
    .leftfinesmall{
        width: 50%;
        float: right;
        margin: auto;
    }
    
    .rightfinesmall{
        width: 50%;
        
    }

.topmenu{
    width: 100%;
    
}
    


/* End Fine Arts -- */



.rightfine{
    width: 50%;
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
}

.doublenick{
    margin: auto;
}

.leftnick{
    width: 50%;
    float: left;
    
}


.rightnick{
    width: 50%;
    float: left;
    
}

.singlevideo{
    margin: auto;
    height: 350px;
    padding-top: 20px;
}


.single{
    margin: auto;
    height: 500px;
    padding-top: 50px;
}

.singlenick{
    margin: auto;
    height: 50%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.singlenicktwo{
    margin: auto;
    height: 500px;
    padding-top: 50%;
}


.singleozi{
    margin: auto;
    height: 500px;
    padding-top: 50px;
}


.stack{
    width: 50%;
    float: left;
}


.stacktop{
    padding-top: 10px;
    height: 40%;
}


.stackbottom{
    padding-top: 5px;
    height: 40%;
}


main{
    padding-bottom: 20px;
}


footer{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footerlow{
    margin: auto;
    padding-top: 500px;
    padding-bottom: 20px;
}



.apps ul{
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.apps li{
    display: inline-block;
    margin-right: 20px;
}


#contactpage{
    padding-top: 50px;
}


#contact a{
    padding: 20px;
}


.mobile-menu{
    position: fixed;
    top: 0.63rem;
    right: 0.63rem;
}



/* background color */

body{
    background-color: black;
}


nav{
    background-color: #3F3F3F;
}


.apps{
    background-color: black;
}



